<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title>Class Schedules</title>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet"/>
    <link rel="stylesheet" href="/static/bootstrap/main.css"/>
    <link rel="stylesheet" href="/static/bootstrap/addins.css"/>
    <link rel="icon" href="/static/images/favicon.ico" type="image/png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui@1.14.0/themes/base/all.css"
          integrity="sha256-DNKQmjU2FwFhSgFxlOahFCaiqQopMbZpuG9BKuO20zs=" crossorigin="anonymous">

    <script nonce="Ty5NiBkmh3pEr/nd7+sa6GXJTa44TqbdXcNDuYdFtlc=" src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script nonce="Ty5NiBkmh3pEr/nd7+sa6GXJTa44TqbdXcNDuYdFtlc=" src="https://cdn.jsdelivr.net/npm/jquery-ui@1.14.0/dist/jquery-ui.min.js"
            integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM=" crossorigin="anonymous"></script>
    <script nonce="Ty5NiBkmh3pEr/nd7+sa6GXJTa44TqbdXcNDuYdFtlc=" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script nonce="Ty5NiBkmh3pEr/nd7+sa6GXJTa44TqbdXcNDuYdFtlc=" async
            src="https://www.googletagmanager.com/gtag/js?id=G-3JD7YQZW6Z"></script>
    
    
    <script nonce="Ty5NiBkmh3pEr/nd7+sa6GXJTa44TqbdXcNDuYdFtlc=" src="/static/scripts/analytics/main.js"></script>
    <script nonce="Ty5NiBkmh3pEr/nd7+sa6GXJTa44TqbdXcNDuYdFtlc=" src="/static/scripts/elevator.min.js"></script>
    <script nonce="Ty5NiBkmh3pEr/nd7+sa6GXJTa44TqbdXcNDuYdFtlc=" src="/static/scripts/addins.js"></script>
    
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>

<body class="d-flex flex-column bg-light">

<!--*** START OF NAVIGATION ***-->
<nav class="navbar navbar-expand-xxl bg-body-tertiary navbar-dark uu-nav d-print-none p-0">
    <div class="container-fluid ms-0 ps-0">

        <div class="align-self-center">
            <a href="https://utah.edu" target="_blank">
                <img class="uu-logo" src="/static/images/uu-logo.svg" alt="The University of Utah"/>
            </a>
        </div>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon m-1"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto text-nowrap">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Terms
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/main/1266/index.html">Summer 2026</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/main/1264/index.html">Spring 2026</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/main/1258/index.html">Fall 2025</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="//registrar.utah.edu/register/schedule-builder.php">
                        Schedule Builder
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="//registrar.utah.edu/handbook/">
                        Student Handbook
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="//catalog.utah.edu/">
                        General Catalog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                       href="//registrar.utah.edu/academic-calendars/spring2026.php">
                        Academic Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.store.utah.edu/course-materials">
                        Find Textbooks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://student-course-feedback.app.utah.edu">
                        View Course Feedback
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://noncredit.utah.edu">
                        Add/Drop Non-credit Classes
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--*** END OF NAVIGATION ***-->

<div class="container-fluid mb-auto mt-0 mx-0 p-0">
    <div class="px-2 px-sm-4 px-md-5 mt-3">
        <div class="row">
            <div class="col-lg-10">
                <section>
    <h1>
        <b><span>CS 2420</span></b> -
        <span>Introduction to Algorithms &amp; Data Structures</span>
    </h1>
</section>
            </div>
            <div class="col-lg-2">
                <div class="subject-info">
                    <section/>
                </div>
            </div>
        </div>
    </div>

    <!--*** CONTENT *** -->
    

    <section class="container-fluid px-2 px-sm-4 px-md-5 flex-grow-1">
    <main class="uu-main class-details" role="main">
        <div class="uu-container" id="uu-skip-target">

            <div class="row">
                <div class="col">
                    <div class="card mt-3">
                        <div class="card-header">
                            Course Detail
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 fw-bold">
                                    Units:
                                </div>
                                <span class="col">  4.0</span>
                            </div>
                            <div class="row">
                                <div class="col-md-2 fw-bold">
                                    Course Components:
                                </div>
                                <div class="col">
                                    <div>
                                        <span>Laboratory</span> <br/>
                                    </div>
                                    <div>
                                        <span>Lecture</span> <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card  mt-3">
                        <div class="card-header">
                            Enrollment Information
                        </div>
                        <div class="card-body">
                            <div class="row mt-3">
                                <div class="col-md-2 fw-bold">
                                    Enrollment Requirement:
                                </div>
                                <div class="col">
                                    <span>Prerequisites: &#39;C-&#39; or better in CS 1410 OR CS 1420 OR AP CS-A score of 5</span>
                                </div>
                            </div>
                            <!-- /*
                            <div class="row" th:if="${class.destinyId != null}">
                                <div class="col-md-12">
                                    <a target="_blank" class="btn btn-info" th:href="${class.destinyLink}">Further Enrollment Information</a>
                                </div>
                            </div>
                            */ -->

                            

                            

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card  mt-3">
                        <div class="card-header">
                            Description
                        </div>
                        <div class="card-body">
                            <div class="col">This course provides an introduction to the problem of engineering computational efficiency into programs. Students will learn about classical algorithms (including sorting, searching, and graph traversal), data structures (including stacks, queues, linked lists, trees, hash tables, and graphs), and analysis of program space and time requirements. Students will complete extensive programming exercises that require the application of elementary techniques from software engineering.</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </main>
</section>
    <!--*** END OF CONTENT ***-->

    <a href="#back-to-top" id="back-to-top" title="Back to top" aria-label="Back to top"><i
            class="bi bi-arrow-bar-up fs-4 fw-bold"></i></a>
</div>
<!--*** START OF FOOTER ***-->
<footer class="mt-5 pb-5 d-flex flex-column">
    <div class="container-fluid px-4 px-sm-5 py-4">
        <div class="row">
            <div class="col-md-4 small text-light text-center align-content-center">
                <a href="https://utah.edu/" target="_blank">
                    <img alt="The University of Utah" class="footer-logo" src="/static/images/uu-logo.svg"/>
                </a>

            </div>

            <div class="col-md-4 text-light mt-2">
                <p class="text-center">
                    © The University of Utah <br/>
                    <a class="text-light" href="http://www.utah.edu/nondiscrimination/">Nondiscrimination &amp;
                        Accessibility</a> /
                    <a class="text-light" href="http://www.utah.edu/disclaimer/">Disclaimer</a> /
                    <a class="text-light" href="http://www.utah.edu/privacy/">Privacy</a>
                </p>
            </div>

            <div class="col-md-4">
                <p class="text-light text-center">
                    University Support Services<br/>
                    102 S 200 E, Ste. 100<br/>
                    Salt Lake City, UT 84111
                </p>
            </div>
        </div>
    </div>
</footer>
<!--*** END OF FOOTER ***-->
</body>
</html>
